.menu{
   
 background-color: rgb(65, 53, 77);
    padding: 20px;
    margin: 0px;
    color: aliceblue;
    width: 94%;
    border: 3px solid coral;
    display: flex;
    justify-content: space-between;
    
    }
    